body {
    background-color: #fffaf0; 
    color: black;
    font-family: Arial, sans-serif;
}
header {
    background-color: brown;
}
nav {
    text-align: center;
}
a {
    color: white;
    font-size: 18px;
}
